<footer style="bottom: 0px;" class="fixed w-full p-2 bg-gray-700 ">
    <h1 class="text-gray-100 ml-5 ">created by Mohamed adel</h1>
</footer>
<script src="/js/axios.min.js"></script>
 <script src="/js/js.js"></script>
</body>
</html>