<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href='/css/output.css'>
</head>

<body>
    
<header class="conatiner mx-auto bg-red-500 p-2 h-16 md:flex">
    <div>
       <span class="text-white text-2xl  float-left ml-5 "><a href="/event">blog website</a></span>

       
    <span style="font-size:30px;cursor:pointer" class="float-right md:hidden" onclick="openNav()">&#9776;</span>
    </div>
