
<%- include('../partials/header'); -%>
<%- include('../partials/nav'); -%>


<%- include('../partials/flashmasseges'); -%>

<form action="/user/rejster" method="post" class="m-auto w-64 mt-12">
    <input class="w-full p-2 border-2 shadow-lg mb-5"  type="text" name="username" placeholder=" inter your username">

    <input class="w-full p-2 border-2 shadow-lg mb-5"  type="text" name="email" placeholder=" inter your email">
    
    <input  class="w-full p-2 border-2 -2 shadow-lg mb-5" type="password" name="password" placeholder=" inter password">
    
    <input  class="w-full p-2 border-2 -2 shadow-lg mb-5" type="password" name="repassword" placeholder="re inter password">

    <input type="checkbox" name="checkbox" id=""> read all  roles ?  <br>

    <input type="submit" value="sing up" class="p-2 bg-red-600 text-white">


</form>

<%- include('../partials/footer'); -%>